@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здарова, дядь</h1>
    
</div>

<div>
    <nav>
        <a asp-controller="Home" asp-action="TestLink">1. teeeest</a>
        <a asp-controller="Home" asp-action="PrintValue">2. PrintValue</a>
    </nav>
</div>